hr {
  width: 100%;
  height: 0px;
  border: none;
  border-bottom: 1px solid #393939;
  margin: 1.3em auto;
}

.App {
  text-align: center;
}

.homePage-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #121212;
}

.homePage-container{
  background: #1E1E1E;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 20px 20px 53px #070707;
  /* width: 33%; */
}

.logo {
  width: 50%;
  margin-bottom: 1em;
}

.tagline {
  color: #7ed957;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.3em;
}

.paste-info {
  color: white;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: 600;
}

.form-wrapper{ 
  display: flex;
  flex-direction: column;
}

.form-input {
  display: block;
  width: 100%;
  height: 35px;
  margin-bottom: 0.7em;
  padding: 0.2em 1em;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.05em;
  border-radius: 0.1em;
  border: none;
  background: #eee;
  color: black;
}

.form-input:focus {
  outline: none;
}

.btn {

    border: none;
    padding: 0.5em;
    width: 100px;
    font-size: 1em;
    border-radius: 0.1em;
    letter-spacing: 0.05em;
    font-weight: 500;
    cursor: pointer;
}

.join-btn {
  background-color: #7ED957;
  color: black;
  margin-left: auto;
}

.no-room-info{
  color: #eee;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
}

.newRoomBtn {
  background: transparent;
  color: #7ed957;
  border-bottom: 2px solid;
  padding: 0;
  width: auto;
}

.editorPage_wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background: #121212;
}

.aside {
  width: 20%;
  min-height: 100vh;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.editor{
  width: 80%;
  min-height: 100vh;
  background-color: #1E1E1E;
}

.editor-logo {
  width: 75%;
  margin: auto;
}

.connected-title {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.07em;
}

.aside-upper {
  display: flex;
  flex-direction: column;
}

.all-clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
  /* overflow-y: scroll; */

}

.each-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 0.7em;
}

.client-name {
  color: #eee;
    margin-top: 0.5em;
    text-align: center;
}

.aside-lower 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyBtn {
  width: 85%;
  margin-bottom: 0.5em;
}

.leaveBtn 
{
  width: 85%;
  background-color: #7ED957;
  color: black;
  margin-bottom: 1em;
}

.CodeMirror {
  min-height: 100vh;
  font-size: 1.2em;
  line-height: 1.6;
  padding-top: 10px;
  padding-left: 20px;
  letter-spacing: 0.05em;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  height: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
}

footer a{
  color: #7ed957;

}

@media(max-width: 769px) {
  .aside {
    width: 25%;
  }
  .editor {
    width: 75%;
  }
}